################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphQl.Api/obj
/GraphQl.Core/obj/Debug/netcoreapp3.1/GraphQl.Core.AssemblyInfo.cs
/.vs/GraphQl.Api/v16/Server/sqlite3
/GraphQl.Core/obj
/GraphQl.Infrastructure/obj
/.vs/GraphQl.Api/v16
/.vs
/GraphQl.Api/bin/Debug/netcoreapp3.1
/GraphQl.Infrastructure/bin/Debug/netcoreapp3.1
/GraphQl.Api.sln.DotSettings.user
